<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72969643027-mijf1kjf2o86s58totfrrd96rhl7p0hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72969643027-mijf1kjf2o86s58totfrrd96rhl7p0hj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>72969643027-1hpn8i12a6upb0ate125lfu42c15glfl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7kDQFvjThRSnSHHOMioWCWQSAdKTs0hs</string>
	<key>GCM_SENDER_ID</key>
	<string>72969643027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bingkaiapp.restoresto</string>
	<key>PROJECT_ID</key>
	<string>restaurant-menu-244ab</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-menu-244ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72969643027:ios:1ac3850fd28cbacfa64be6</string>
	<key>DATABASE_URL</key>
	<string>https://restaurant-menu-244ab.firebaseio.com</string>
</dict>
</plist>